.header {
    
    z-index: 100;
    position: sticky;/*to stay fixed on the top*/
    top: 0;
    background-color: white;
    padding: 15px 20px;
    border-bottom: 1px solid var(--twitter-border);
  }

 .header > img {
  width: 82px;
  height: 82px;
 } 


 @media (max-width: 600px) {
   .header {
     padding:10px;
   }
  .header > img {
    width: 72px;
    height: 72px;
   } 
 }

 @media (max-width: 400px) {
  .header {      
     border-bottom: solid 1px #ccc;
 }
 .header > img {
  width: 60px;
  height: 60px;

 } 
}  
  